{% extends 'base.html.twig' %}

{% block body %}
    <h1>Document edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="{{'bdsa.media.document.edit_save'|trans}}" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('bdsa_document_index') }}">{{'bdsa.media.document.backtolist'|trans}}</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="{{'bdsa.media.document.delete'|trans}}">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
