{% extends 'base.html.twig' %}

{% block body %}
    <h1>Documents list</h1>

    <table>
        <thead>
            <tr>
                <th>{{'bdsa.media.document.id'|trans}}</th>
                <th>{{'bdsa.media.document.name'|trans}}</th>
                <th>{{'bdsa.media.document.description'|trans}}</th>
                <th>{{'bdsa.media.document.file'|trans}}</th>
                <th>{{'bdsa.media.document.extension'|trans}}</th>
                <th>{{'bdsa.media.document.mimetype'|trans}}</th>
                <th>{{'bdsa.media.document.size'|trans}}</th>
                <th>{{'bdsa.media.document.istrashed'|trans}}</th>
                <th>{{'bdsa.media.document.dateupload'|trans}}</th>
                <th>{{'bdsa.media.document.dateedit'|trans}}</th>
                <th>{{'bdsa.media.document.actions'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for document in documents %}
            <tr>
                <td><a href="{{ path('bdsa_document_show', { 'id': document.id }) }}">{{ document.id }}</a></td>
                <td>{{ document.name }}</td>
                <td>{{ document.description }}</td>
                <td>{{ document.file }}</td>
                <td>{{ document.extension }}</td>
                <td>{{ document.mimetype }}</td>
                <td>{{ document.size }}</td>
                <td>{% if document.istrashed %}Yes{% else %}No{% endif %}</td>
                <td>{% if document.dateupload %}{{ document.dateupload|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if document.dateedit %}{{ document.dateedit|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('bdsa_document_show', { 'id': document.id }) }}">{{'bdsa.media.document.show'|trans}}</a>
                        </li>
                        <li>
                            <a href="{{ path('bdsa_document_edit', { 'id': document.id }) }}">{{'bdsa.media.document.edit'|trans}}</a>
                        </li>
                        <li>
                            <a href="{{ path('bdsa_document_download', { 'id': document.id }) }}" target='_blank'>{{'bdsa.media.document.download'|trans}}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bdsa_document_new') }}">{{'bdsa.media.document.new'|trans}}</a>
        </li>
    </ul>
{% endblock %}
