{% extends 'base.html.twig' %}

{% block body %}
    <h1>Document creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="{{'bdsa.media.document.create'|trans}}" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('bdsa_document_index') }}">{{'bdsa.media.document.backtolist'|trans}}</a>
        </li>
    </ul>
{% endblock %}
