{% extends 'base.html.twig' %}

{% block body %}
    <h1>Document</h1>

    <table>
        <tbody>
            <tr>
                <th>{{'bdsa.media.document.id'|trans}}</th>
                <td>{{ document.id }}</td>
            </tr>
            <tr>
                <th>{{'bdsa.media.document.name'|trans}}</th>
                <td>{{ document.name }}</td>
            </tr>
            <tr>
                <th>{{'bdsa.media.document.description'|trans}}</th>
                <td>{{ document.description }}</td>
            </tr>
            <tr>
                <th>{{'bdsa.media.document.file'|trans}}</th>
                <td>{{ document.file }}</td>
            </tr>
            <tr>
                <th>{{'bdsa.media.document.extension'|trans}}</th>
                <td>{{ document.extension }}</td>
            </tr>
            <tr>
                <th>{{'bdsa.media.document.mimetype'|trans}}</th>
                <td>{{ document.mimetype }}</td>
            </tr>
            <tr>
                <th>{{'bdsa.media.document.size'|trans}}</th>
                <td>{{ document.size }}</td>
            </tr>
            <tr>
                <th>{{'bdsa.media.document.istrashed'|trans}}</th>
                <td>{% if document.istrashed %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>{{'bdsa.media.document.dateupload'|trans}}</th>
                <td>{% if document.dateupload %}{{ document.dateupload|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{{'bdsa.media.document.dateedit'|trans}}</th>
                <td>{% if document.dateedit %}{{ document.dateedit|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bdsa_document_index') }}">{{'bdsa.media.document.backtolist'|trans}}</a>
        </li>
        <li>
            <a href="{{ path('bdsa_document_edit', { 'id': document.id }) }}">{{'bdsa.media.document.edit'|trans}}</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="{{'bdsa.media.document.delete'|trans}}">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
