{% extends 'base.html.twig' %}

{% block body %}
    <h1>Folders list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for folder in folders %}
            <tr>
                <td><a href="{{ path('bdsa_folder_show', { 'id': folder.id }) }}">{{ folder.id }}</a></td>
                <td>{{ folder.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('bdsa_folder_show', { 'id': folder.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('bdsa_folder_edit', { 'id': folder.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bdsa_folder_new') }}">Create a new folder</a>
        </li>
    </ul>
{% endblock %}
